body {
  font-family: 'Poppins', sans-serif;
  background-color: #143021;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  max-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #143021;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1,
h2 {
  color: white;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  color: #98ff38;
  font-size: 16px;
}

input,
select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="number"],
input[type="text"],
select {
  text-align: center;
}

input:focus,
select:focus {
  border-color: #98ff38;
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: #98ff38;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s background-color ease, transform 0.3s ease-in-out;
}

button:hover {
  background-color: #7adf30;
  transform: scale(1.05);
}

button:disabled {
  background-color: #b6e59e;
  cursor: not-allowed;
}

#result {
  color: #4caf50;
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold;
}

.error {
  color: #f44336;
  font-size: 14px;
  margin-top: 15px;
}

.wallet-button {
  background-color: #143021;
  color: #98ff38;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  border: 2px solid #98ff38;
  transition: background-color 0.3s, border-color 0.3s;
}

.wallet-button:hover {
  background-color: #98ff38;
  color: black;
  border-color: #7adf30;
}

.wallet-button:disabled {
  background-color: #4caf50;
  cursor: not-allowed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Приховуємо кнопки */
button:contains("Copy address"),
button:contains("Change wallet"),
button:contains("Disconnect") {
    display: none;
}

/* Збільшуємо відступ для "Відключити гаманець" */
button.disconnect-wallet {
    margin-top: 20px;
}

/* Зменшуємо розмір іконки гаманця та розміщуємо її ліворуч */
.wallet-icon {
    width: 40px;  /* Зменшити розмір */
    height: 40px;
    position: absolute;
    left: 10px;  /* Вирівнювання ліворуч */
    top: 50%;
    transform: translateY(-50%);
}